{% macro requirements_checklist(field_id) %}
<ul class="pw-requirements" data-target="{{ field_id }}">
  <li data-rule="length">
    <span class="pw-icon-todo">{{ icon('circle', 13) }}</span><span class="pw-icon-done">{{ icon('check-circle', 13) }}</span>
    At least 8 characters
  </li>
  <li data-rule="lower">
    <span class="pw-icon-todo">{{ icon('circle', 13) }}</span><span class="pw-icon-done">{{ icon('check-circle', 13) }}</span>
    A lowercase letter
  </li>
  <li data-rule="upper">
    <span class="pw-icon-todo">{{ icon('circle', 13) }}</span><span class="pw-icon-done">{{ icon('check-circle', 13) }}</span>
    An uppercase letter
  </li>
  <li data-rule="number">
    <span class="pw-icon-todo">{{ icon('circle', 13) }}</span><span class="pw-icon-done">{{ icon('check-circle', 13) }}</span>
    A number
  </li>
  <li data-rule="symbol">
    <span class="pw-icon-todo">{{ icon('circle', 13) }}</span><span class="pw-icon-done">{{ icon('check-circle', 13) }}</span>
    A symbol (! @ # $ %)
  </li>
</ul>
{% endmacro %}
